.navbar-brand {
  font-size: xx-large;
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.navbar-logo {
  padding-top: 5px;
  padding-bottom: 5px;
}

body {
  padding: 80px 0 0 8px; /* padding-top overridden by theme */
}

.value-box .value {
    font-size: x-large;
    font-weight: 300;
}

.about {
	font-size: smaller;
  position: absolute;
  top: 95%;
}

.navbar-author {
		position: absolute;
    right: 10%;
    transform: translateX(-90%);
    margin-right: 10px;
}
